@using ITLATv.Application.ViewModels.Producter
@model List<ProducterViewModel>
@{
    ViewData["Title"] = "Mant. Productoras";
}

<div class="text-center">
    <h3>Mantenimiento de productoras</h3>
    <p>En esta seccion puede crear, actualizar y eliminar productoras</p>
</div>

<div class="mg-3">
    <div>
        <a class="btn btn-outline-success mb-5 col-lg-6 offset-3" asp-controller="Producter" asp-action="Add">Agregar Productora</a>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-3">
                @if (Model.Count == 0 || Model == null)
                {
                    <div class="col">
                        <h1>No hay ningún elemento en la base de datos</h1>
                    </div>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h4>@item.Name</h4>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a asp-controller="Producter" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Eliminar</a>
                                            <a asp-controller="Producter" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Editar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</div>

